.block-container {
  width: 60%;
  display: flex;
}

.info-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

img {
  width: 500px;
  height: 500px;
}
